<div class="top_text">
    PROGRAMMA
</div>

<div class="container">

    <div class="programma_items">
        <div class="programma_item">
            <div class="programma_item_inside">
                <div class="programma_item_location">Theehuis</div>
                <div class="programma_item_time">Vanaf 11:00</div>
                <div class="programma_item_description">Aankomst! Meld je bij het theehuis, ontvang het SPA
                    jublium-shirt en ga op zoek naar andere bekende (oud) SPA/Muziekkamp deelnemers</div>
            </div>
        </div>
        <div class="programma_item">
            <div class="programma_item_inside">
                <div class="programma_item_time">12:30</div>
                <div class="programma_item_location">Grasveld</div>
                <div class="programma_item_description">Vanaf 12:30 zijn de foodtrucks geopend op het grote grasveld!
                </div>
            </div>
        </div>
        <div class="programma_item">
            <div class="programma_item_inside">
                <div class="programma_item_time">13:30</div>
                <div class="programma_item_location">Congreshal</div>
                <div class="programma_item_description">Opening met de SPA Band!</div>
            </div>
        </div>
        <div class="programma_item">
            <div class="programma_item_inside">
                <div class="programma_item_time">14:00</div>
                <div class="programma_item_location">Diverse ruimtes</div>
                <div class="programma_item_description">Doe mee met jouw favoriete art: Dance, Brass, Choir, Modern
                    Music!</div>
            </div>
        </div>
        <div class="programma_item">
            <div class="programma_item_inside">
                <div class="programma_item_time">17:30</div>
                <div class="programma_item_location">Grasveld</div>
                <div class="programma_item_description">Dinner</div>
            </div>
        </div>
        <div class="programma_item">
            <div class="programma_item_inside">
                <div class="programma_item_time">19:00</div>
                <div class="programma_item_location">Congreshal</div>
                <div class="programma_item_description">Het avondprogramma wordt ook bij de reunie al bijzonder! Met presentatoren van de afgelopen 20 jaar en onderdelen die je weer helemaal terug brengen naar de afgelopen 20 jaar.</div>
            </div>
        </div>
        <div class="programma_item">
            <div class="programma_item_inside">
                <div class="programma_item_time">21:30</div>
                <div class="programma_item_location">Theehuis</div>
                <div class="programma_item_description">'s Avonds is het (zoals je waarschijnlijk nog wel herinnert ) mogelijk om te snacken voor het goede doel! Koop een frietje of snack voor €1 euro en steun daarmee een jongerenkamp in Tjechië!</div>
            </div>
        </div>
    </div>
</div>