<div class="container">
    <div class="intro">
        <div class="intro_title">Dit jaar viert SPA de 75<sup>e</sup> editie!</div>
        Dit willen we natuurlijk niet onopgemerkt voorbij laten gaan. Daarom organiseren we op 1 oktober 2022 een reünie
        voor alle (oud-)SPA/Muziekkamp gangers. Ben jij tussen 1990 en 2023 naar SPA / Muziekkamp geweest? Lees dan snel
        verder en meld je aan!
    </div>

    <div class="button">
        <a href="https://store.ticketing.cm.com/SPA-Reunie-2023">Aanmelden</a>
    </div>

    <div class="programma">
        <div class="programma_title">Programma</div>
        <div class="programma_introductie">
            We hebben een leuk programma voor jullie in elkaar gezet. We beginnen de dag met een lunch en daarna gaan we aan de slag met de repetities. Na het avondeten is er een avondprogramma en daarna sluiten we de dag uiteraard af bij de snackbar, waar je kan snacken voor €1,- voor een goed doel!
        </div>
        <div class="programma_items">
            <div class="programma_item">
                <div class="programma_item_time">12:00</div>
                <div class="programma_item_text">Aankomst</div>
            </div>
            <div class="programma_item">
                <div class="programma_item_time">13:00</div>
                <div class="programma_item_text">Lunch</div>
            </div>
            <div class="programma_item">
                <div class="programma_item_time">14:00</div>
                <div class="programma_item_text">Repetities</div>
            </div>
            <div class="programma_item">
                <div class="programma_item_time">17:30</div>
                <div class="programma_item_text">Dinner</div>
            </div>
            <div class="programma_item">
                <div class="programma_item_time">19:00</div>
                <div class="programma_item_text">Avondprogramma</div>
            </div>
            <div class="programma_item">
                <div class="programma_item_time">21:30</div>
                <div class="programma_item_text">Snacken</div>
            </div>
        </div>
    </div>

    <div class="kosten">
        De kosten voor deze 
    </div>

    <div class="button">
        <a href="https://store.ticketing.cm.com/SPA-Reunie-2023">Aanmelden</a>
    </div>
</div>