/** .top_text horizontal center, all caps, white color **/
.top_text{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    color: white;
    font-family: "Vina Sans", sans-serif;
    font-size: 60pt;
    padding-top: 0px;
    padding-bottom: 500px;
    text-align: center;
}

.bottom {
    position: fixed;
    padding: 25px;
    bottom: 0;
    width: 100%;
}

.join_us {
    justify-content: center;
    text-transform: uppercase;
    color: white;
    font-family: "montserrat", sans-serif;
    font-size: 16pt;
    padding-top: 20px;
    text-align: center;
}

.date {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    color: white;
    font-family: "Vina Sans", sans-serif;
    font-size: 40pt;
    padding-top: 10px;
    text-align: center;
}